{% extends "base.html" %}
{% load static %}

{% block page_title %}Home{% endblock  %}
{% block styles %}
    <link rel="stylesheet" href="{% static "core/landing_page.css" %}">
{% endblock  %}

{% block content %}
    <div class="hero-content">
      <h1>Track your card collection.<br>Understand its value.</h1>
      <p class="subtitle">
        A simple platform to track, analyze, and understand your trading card collection —
        starting with Magic: The Gathering.
      </p>

      <div class="hero-actions">
        {% if request.user.is_authenticated %}
          <a href="{% url "my_collection" %}" class="btn primary">My collection</a>
        {% else %}
          <a href="{% url "register" %}" class="btn primary">Get Started</a>
        {% endif %}
        <a href="{% url "learn-more" %}" class="btn secondary">Tutorial</a>
      </div>
    </div>

    <section class="cards-section">
      <h2>Recently Added Cards</h2>

      <div class="card-grid">
        {% for card in cards %}
        <div class="card-tile">
          <img src="{{ card.image_url }}" alt="{{ card.name }}" loading="lazy">
            <div class="card-overlay">
              <span>{{ card.set_code|upper }} · {{ card.finish }}</span>
            </div>
        </div>
        {% empty %}
          <p>No cards yet 😢</p>
        {% endfor %}
      </div>
    </section>
{% endblock  %}