{% extends "base.html" %}
{% load static %}

{% block page_title %}My Collection{% endblock  %}
{% block styles %} <link rel="stylesheet" href="{% static "collection/my_collection.css" %}">{% endblock  %}

{% block content %}
  <div class="collection-top">
    <div class="collection-add">
      <form method="post" action="{% url 'add_card' %}" class="collection-form">
        {% csrf_token %}

        <div class="form-row">
          <div class="field">
            {{ form.set_code.label_tag }}
            {{ form.set_code }}
          </div>

          <div class="field">
            {{ form.collector_number.label_tag }}
            {{ form.collector_number }}
          </div>
          
          <div class="field">
            {{ form.quantity.label_tag }}
            {{ form.quantity }}
          </div>

          <div class="field">
            {{ form.purchase_price.label_tag }}
            {{ form.purchase_price }}
          </div>

          <div class="field checkbox-field">
            {{ form.is_foil }}
            {{ form.is_foil.label_tag }}
          </div>

        </div>

        <button type="submit">Add card</button>
      </form>
    </div>
    {% if collection %}
      <div class="expensive-card">
        <h3> Top card: {{ most_expensive_card.card.price_usd }} USD </h3>
        <div class="card-tile">
          <img src="{{ most_expensive_card.card.image_url }}" alt="{{ most_expensive_card.card.name }}" loading="lazy">
            <div class="card-overlay">
              <span>{{ most_expensive_card.card.set_code|upper }}</span>
            </div>
          </div>
      </div>
    {% else %}
      <h3> Add your first card! </h3>
    {% endif %}
</div>

  <form method="get" class="collection-search">
    <input
      type="text"
      name="q"
      placeholder="Search card..."
      value="{{ query }}"
    >

    <button type="submit">Search</button>

    {% if query %}
      <a href="{% url 'my_collection' %}" class="clear-search">
        Clear
      </a>
    {% endif %}
  </form>

  <span>Total collection value: {{ total_value }} USD</span>

  <div class="collection-list">
    <div class="collection-header-row">
      <span>Name</span>
      <span>Qty</span>
      <span>Market price / und</span>
      <span>Subtotal</span>
      <span></span>
    </div>

    {% for uc in collection %}
      <div class="collection-row">
        <span class="card-name-wrapper">
          <span class="card-name">
            {{ uc.card.name }}
            <small>
              ({{ uc.card.get_finish_display }})
            </small>
          </span>
          <img 
          src="{{ uc.card.image_url }}"
          alt="{{ uc.card.name }}"
          class="card-preview"
          loading="lazy"
          >
        </span>
        <span>x{{ uc.quantity }}</span>
        <span>
          {% if uc.card.price_usd %}
            ${{ uc.card.price_usd }}
          {% else %}
            —
          {% endif %}
        </span>
        <span>
          {% if uc.subtotal %}
            {{ uc.subtotal }}
          {% else %}
            —
          {% endif %}
        </span>
        <form method="post" action="{% url 'remove_card' uc.id %}">
          {% csrf_token %}
          <button class="delete-btn">✕</button>
        </form>
      </div>
    {% empty %}
      <p class="empty-state">Your collection is empty.</p>
    {% endfor %}
    </div>
    <div class="pagination">
        {% if collection.has_previous %}
          <a href="?q={{ query }}&page={{ collection.previous_page_number }}"> Previous </a>
        {% endif %}

        <span>
          Page {{ collection.number }} of {{ collection.paginator.num_pages }}
        </span>

        {% if collection.has_next %}
          <a href="?q={{ query }}&page={{ collection.next_page_number }}">Next</a>
        {% endif %}
      </div>

{% endblock  %}