{% extends "base.html" %}
{% load static %}

{% block page_title %}Password updated{% endblock %}
{% block styles %}
<link rel="stylesheet" href="{% static "accounts/auth_forms.css" %}">
{% endblock %}

{% block content %}
<div class="auth-page">
  <div class="auth-form">
    <h1>Password updated</h1>

    <p class="auth-message success">
      Your password has been successfully updated.
    </p>

    <div class="auth-footer">
      <a href="{% url 'login' %}">Login now</a>
    </div>
  </div>
</div>
{% endblock %}