{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{% block page_title %}CardFolio{% endblock  %}</title>
    <link rel="stylesheet" href="{% static "general_style.css" %}">
    {% block styles %}{% endblock  %}
    {% block scripts %}{% endblock  %}
    <!-- Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Jersey+10&family=Outfit:wght@100..900&display=swap" rel="stylesheet">
  </head>
  <body>
    <header>    
    <nav class="main-nav">
      <div class="nav-inner">
        <a href="{% url 'home' %}"><img class="logo" src="{% static "images/logo.png" %}" alt="Card Folio logo"></a>
        <div class="nav-right">
          {% if request.user.is_authenticated %}
            <a href="{% url 'my_collection' %}">Collection</a>
            <a href="{% url "dashboard" %}" >Dashboard</a>
            <a href="{% url 'logout' %}" class="nav-logout">Logout</a>
          {% else %}
            <a href="{% url 'login' %}">Login</a>
          {% endif %}
        </div>
      </div>
    </nav>

    </header>
    <main>{% block content %}{% endblock %}</main>
    <footer>
      <div class="footer-container">
        <div class="footer-menus">
          <div class="footer-submenu-container">
            <h3>Account</h3>
            {% if request.user.is_authenticated %}  
            <a href="{% url "my_collection" %}">My collection</a>
            <a href="{% url "dashboard" %}">Dashboard</a>
            <a href="{% url "logout" %}">Logout</a>
            {% else %}
            <a href={% url "register" %}>Register</a>
            <a href={% url "login" %}>Login</a>
            {% endif %}
          </div>
          <div class="footer-submenu-container">
            <h3>More</h3>
            <a 
              target="_blank" 
              href="https://paypal.me/mauricioalfonso21?locale.x=en_AU&country.x=AU"
              rel="noopener noreferrer"
              class="donate-button">
              Support me
            </a>
            <a href="{% url "learn-more" %}">Tutorial</a>
            <a 
              target="_blank" 
              href="https://github.com/ElMauro21/Cardfolio">
              GitHub
            </a>
            <a href="mailto:mauro311095@icloud.com">Contact me</a>
          </div>
        </div>
        <div class="footer-disclaimer">
          <p>CardFolio is an unofficial fan-made application for tracking Magic: The Gathering
            collections.

            This application uses the Scryfall API to retrieve card data and pricing
            information. Card data, images, names, and related Magic: The Gathering content
            are © Wizards of the Coast, LLC.

            CardFolio is not produced by, endorsed by, sponsored by, or affiliated with
            Wizards of the Coast or Scryfall.

            Card prices and market values are provided by Scryfall and its affiliates and
            are estimates only. No guarantee is made regarding accuracy or availability.

            CardFolio is provided as-is, without warranty, and is intended for personal use.
            <br>
            <br>
            Donations are voluntary and support the development and maintenance of this
            application. 
            Donations do not provide any in-app benefits or access to
            exclusive features.
          </p>
        </div>
      </div>
    </footer>
  </body>
</html>
